:root {
	--bread-blue: #0d5da3;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.3em;
}

.section {
	border-bottom: 1px solid #0003;
	margin-bottom: 1em;
	padding-bottom: 1em;

	h5 {
		margin-bottom: 1em;
	}
}

.inputGrouping {
	display: flex;
	margin-bottom: 1em;
	gap: 0.5em;
	flex-direction: row;
	justify-content: space-between;

	> div {
		flex: 1;
	}
}

.breadcrumbs {
	button {
		background: none;
		border: 0;
		color: var(--bread-blue);
		text-decoration: underline;
	}
}
